version: "3.9"

services:
  localstack:
    image: localstack/localstack
    ports:
    - "4566:4566"
    environment:
    - AWS_DEFAULT_REGION=eu-west-1
    - SERVICES=s3,dynamodb
    - DATA_DIR=/tmp/localstack/data
    - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
    - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
    - "/var/run/docker.sock:/var/run/docker.sock"