version: "3.9"

services:
  localstack:
    image: localstack/localstack-full
    ports:
      - "4566:4566"
      - "8055:8080"
    environment:
      - AWS_DEFAULT_REGION=eu-west-1
      - SERVICES=s3
      - DATA_DIR=/tmp/localstack/data
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  mongodb:
    image: library/mongo:3.6
    command: [ "mongod", "--storageEngine", "wiredTiger" ]
    volumes:
      - ~/mongo/data:/data/db
      - ~/mongo/config:/data/configdb
    ports:
      - 27017:27017